<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://arunyagoojar.github.io/Mac-XCloud/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>9KfbNKzcw3HvPuTfWQy8QqDj5fVXufLOYyqWJhG45/U=</string>
	<key>SUScheduledCheckInterval</key>
	<string>3600</string>
</dict>
</plist>
